<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">连接</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">x</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">IP地址:</span>
          <input type="text" name="ip" autocomplete="off" ng-model="loginData.ip"
                 placeholder="输入IP" maxlength="15" required
                 ng-pattern="/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/" />
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="loginForm.$invalid">连接</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
