<style type="text/css">
  .target {
    display: inline-block;
    width: 450px;
    height: 450px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: #444;
  }
</style>

<ion-view view-title="主面板">
  <ion-content scroll="false">
    <div class="target"
         hm-pan = "onHammer"
         hm-doubletap = "onHammer"
         hm-tap = "onHammer"
         hm-press = "onHammer"
         >
      <div>{{command.deltaX}}@{{command.deltaY}}@{{command.code}}</div>
    </div>
  </ion-content>
</ion-view>
