<style type="text/css">
    .target {
        display: inline-block;
        margin: auto;
        text-align: center;
        color: white;
        background-color: #444;
        height: 300px;
    }

    .leftbtn {
        height: 100%;
        width: 30%;
        float: left;
        text-align: right;
    }

    .wheel {
        background-color: #444;
        width: 40%;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        height: 180px;
    }

    .rightbtn {
        height: 100%;
        width: 30%;
        float: left;
    }

    .bar-footer {
        overflow: visible !important;
    }

    .bar-footer textarea {
        resize: none;
        height: 25px;
    }

    /* fixes an ios bug bear */
    button.ion-android-send {
        padding-top: 2px;
    }

    /* add this to keep your footer buttons down
    at the bottom as the textarea resizes */
    .footer-btn-wrap {
        position: relative;
        height: 100%;
        width: 50px;
        top: 7px;
    }

    .footer-btn {
        position: absolute !important;
        bottom: 0;
    }

    .bar.item-input-inset .item-input-wrapper input {
        width: 100% !important;
    }

    input, textarea, .item-input, .item-input-wrapper {
        background-color: #f4f4f4 !important;
    }
</style>

<ion-view view-title="主面板">
  <ion-content scroll="false">
    <div class="row responsive-sm">
      <div class="col col-50 target"
           hm-pan = "onHammer"
           hm-doubletap = "onHammer"
           hm-tap = "onHammer"
           hm-press = "onHammer">
      </div>
    </div>
    <div class="button-bar">
        <div class="leftbtn">
            <button class="button button-large button-dark" ng-click="clickHandle(0)">
                <div ng-if="settings.leftHandMode">右键</div>
                <div ng-if="!settings.leftHandMode">左键</div>
            </button>
        </div>
        <div class="wheel"
             hm-swipeleft = "onHammer"
             hm-swiperight = "onHammer"
             hm-swipedown = "onHammer"
             hm-swipeup = "onHammer"></div>
        <div class="rightbtn">
            <button class="button button-large button-dark" ng-click="clickHandle(1)">
                <div ng-if="settings.leftHandMode">左键</div>
                <div ng-if="!settings.leftHandMode">右键</div>
            </button>
        </div>
    </div>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper">
          <textarea ng-model="otherData.contentToSend" value="" placeholder="输入内容..."></textarea>
      </label>
      <div class="footer-btn-wrap">
          <button class="button button-icon icon ion-android-send footer-btn" ng-click="clickHandle(2)"
                  ng-disabled="!otherData.contentToSend || otherData.contentToSend === ''">
          </button>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
