<style type="text/css">
    .target {
        display: inline-block;
        margin: auto;
        text-align: center;
        color: white;
        background-color: #444;
        height: 300px;
    }

    .leftbtn {
        height: 100%;
        width: 30%;
        float: left;
        text-align: right;
    }

    .wheel {
        background-color: #444;
        width: 40%;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        height: 180px;
    }

    .rightbtn {
        height: 100%;
        width: 30%;
        float: left;
    }
</style>

<ion-view view-title="主面板">
  <ion-content scroll="false">
    <div class="row responsive-sm">
      <div class="col col-50 target"
           hm-pan = "onHammer"
           hm-doubletap = "onHammer"
           hm-tap = "onHammer"
           hm-press = "onHammer">
          <div>{{command.moveX}}@{{command.moveY}}@{{command.code}}@{{showout}}</div>
      </div>
    </div>
    <div class="button-bar">
        <div class="leftbtn">
            <button class="button button-large button-dark" ng-click="clickHandle(0)">
                左键
            </button>
        </div>
        <div class="wheel"
             hm-swipeleft = "onHammer"
             hm-swiperight = "onHammer"
             hm-swipedown = "onHammer"
             hm-swipeup = "onHammer"></div>
        <div class="rightbtn">
            <button class="button button-large button-dark" ng-click="clickHandle(1)">
                右键
            </button>
        </div>
    </div>
  </ion-content>
</ion-view>
