<ion-view view-title="设置">
  <ion-content class="padding">
    <div class="list">

      <ion-toggle toggle-class="toggle-positive" ng-model="settings.leftHandMode" ng-change="changeMode()">
        左手模式
      </ion-toggle>

      <div class="item range range-positive">
        鼠标灵敏度
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="1" max="5" ng-model="settings.sensitivity">
        <i class="icon ion-ios7-sunny"></i>
      </div>

      <a class="item item-icon-right" href="javascript:;" ng-click="logout()">
        <i class="icon ion-ios7-arrow-right"></i>
        注销账号
      </a>

      <a class="item item-icon-right" href="javascript:;" ng-click="exit()">
        退出
      </a>

    </div>
  </ion-content>
</ion-view>
